@import './palette.scss';

.player {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.player-buttons {
  display: flex;
  order: 1;
}
%btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 10px;
  border: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}
.player-btn {
 @extend %btn;
  background: url('img/btn.png') top center no-repeat;
}
.btn-prev {
  background-position-y: -90px;
}
.btn-pause {
  background-position-y: -30px;
}
.btn-play {
  background-position-y: 0px;
}
.btn-next {
  background-position-y: -60px;
}

.player-sound {
  @extend %btn;
  width: 30px;
  background: url('img/sound.png') top center no-repeat;
}
.player-sound_muted {
  background-position-y: -30px;
}

%range-controls {
  padding: 2px;
  background: $main-color;
  box-shadow: inset 1px 2px 4px 3px rgba(0,0,0,0.75);
  border-radius: 5px;
}
.player-timestamp {
  @extend %range-controls;
  width: 60%;
  height: 30px;
  order: 2;
}
.player-volume-controls {
  width: 140px;
  display: flex;
  order: 3;
}
.player-volume {
  @extend %range-controls;
  width: 90px;
}

@media only screen and (max-width: 840px) {
  .player >* {
    margin-bottom: 5px;
  }
  .player-timestamp {
    order: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 400px) {
  .player-volume-controls {
    width: 140px;
  }
  .player-btn {
    margin: 0 5px;
  }
}
