@import './palette.scss';

.player {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.player-buttons {
  display: flex;
}
%btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 10px;
  border: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}
.player-btn {
 @extend %btn;
  background: url('img/btn.png') top center no-repeat;
}
.btn-prev {
  background-position-y: -90px;
}
.btn-pause {
  background-position-y: -30px;
}
.btn-play {
  background-position-y: 0px;
}
.btn-next {
  background-position-y: -60px;
}

.player-sound {
  @extend %btn;
  background: url('img/sound.png') top center no-repeat;
}
.player-sound_muted {
  background-position-y: -30px;
}

%range-controls {
  padding: 2px;
  background: $main-color;
  box-shadow: inset 1px 2px 4px 3px rgba(0,0,0,0.75);
  border-radius: 5px;
}
.player-timestamp {
  @extend %range-controls;
  width: 60%;
}
.player-volume {
  @extend %range-controls;
  width: 100px;
}
