@import './palette.scss';
.track {
  position: relative;
  padding: 10px 50px 10px 10px;
}
.track_selected {
  background: $divider-color;
}
.track_selected .track-author {
  color: $text-color;
}
.track-author {
  float: left;
  font-weight: bold;
  margin-left: 10px;
  color: $divider-color;
}
.track-name {
  color: $text-color;
}
.track-duration {
  position: absolute;
  right: 10px;
  color: $text-color;
}
